/* Include the padding and border in an element's total width and height */
body {
    box-sizing: border-box;
    background-color: #4d9dff;
}

h1{
    background-color: #3e09b5;
}

#myInput{
    background-color: white;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    padding: 10px;
    position: relative;
    text-align: left;
    font-size: 18px;
    transition: 0.2s;
    margin: 10px 0;
    list-style-type: none;
}

/* Style the close button */
.close {
    right: 0;
    top: 0;
    margin: 0;
    background: yellow;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    color: black;
}

/* Style the header */
.header {
    margin-left: 20%;
    width: 60%;
    background-color: #3e09b5;
    padding: 30px 40px;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 87%;
    padding: 10px;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #cf0000;
    color: #fffcfc;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

